Gemfile.lock
spec/db_connections.yml
spec/tmp
spec/database.yml

# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg
